/* Advanced videobox plugin for Wordpress by Tom
 * http://wptom.com/wordpress/plugins/advanced-videobox/
 */

#av-wrapper { display: block; margin: 0 auto 0 auto; height: auto; padding: 4px; background: #C4BC86; border: 1px solid #E4E0C8; text-align: center; }
.av-video { background: url(images/ajax-loader.gif) no-repeat center center; }
#av-wrapper ul.idTabs { display: block; width: auto; height: auto; list-style: none; background-color: white; float: none; clear: both; padding: 0px; text-align: left; }
#av-wrapper .idTabs li {  font-size: 11px; font-weight: bold; }
#av-wrapper .idTabs li a { display: block; width: auto; height: 40px; line-height: 40px; color: white; border-bottom: 1px solid white; overflow: hidden; background: url(images/item-bg-gray.jpg) repeat-x; text-shadow: 1px 1px 1px #000; }
#av-wrapper .idTabs li a img { float: left; width: 60px; height: 40px; margin: 0px 5px 0px 0px; border-right: 1px solid white; vertical-align: middle; }

#av-wrapper .idTabs li a:hover,
#av-wrapper .idTabs .selected { background: url(images/item-bg-gray-active.jpg) repeat-x;color: #333333; text-shadow: 1px 1px 1px #fff; }
p.ts-credits { width: 100%; padding: 0 0 0 0; text-align: right;  font-size: 80%; color: #969696; }
p.ts-credits a { color: #969696; text-decoration: none; }

.clear:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clear { min-width: 0; display: inline-block; /* \*/ display: block; }
* html .clear { /* \*/ height: 1%; }